<%- include('../partials/head') %>

<section class="page-content">
  <h1>Nos atouts</h1>

  <ul>
    <li>Une équipe jeune, agile et formée aux standards internationaux.</li>
    <li>Une organisation intégrée favorisant les synergies entre départements.</li>
    <li>Une vision panafricaine et une ambition régionale soutenues par des partenariats solides.</li>
    <li>Une capacité d’exécution opérationnelle, une expertise terrain confirmée, et un réseau de partenaires fiable.</li>
  </ul>
</section>

<%- include('../partials/footer') %>
