<%- include('../partials/head') %>

<section class="page-content">
  <h1>Mot du Fondateur</h1>

  <p>
    « Notre continent n’est pas en retard ; il est en gestation.  
    Nous croyons en une Afrique connectée à ses valeurs, ambitieuse,
    bien équipée et capable de se prendre en charge.
    Kamite Group est plus qu’une entreprise.  
    C’est un mouvement, une réponse à l’appel du développement. »
  </p>

  <p><strong>— Mokanga Oméga Yasin, Directeur Général</strong></p>
</section>

<%- include('../partials/footer') %>
