<section class="container">
  <h1>Nos produits / Services</h1>
  <p>Découvrez nos solutions.</p>

  <ul class="service-list">
    <li><a href="#">Kamite Transport & Logistique</a></li>
    <li><a href="#">Kamite Prod & Événementiel</a></li>
    <li><a href="#">Kamite Digital</a></li>
    <li><a href="#">Kamite Construction</a></li>
  </ul>
</section>
